{% extends "layouts/system.html" %}
{% block title %}{% if is_edit %}Edit{% else %}Add{% endif %} Education - {{ owner_name }}{% endblock %}
{% block system_content %}

        <section class="experience-section">
            <div class="container">
                <h1>{% if is_edit %}Edit{% else %}Add New{% endif %} Education</h1>
                <form method="post"
                      class="project-form">
                    {% csrf_token %}
                    {% for field in form %}{% include 'components/server_field.html' %}{% endfor %}
                    <button type="submit" class="button">{% if is_edit %}Simpan Perubahan{% else %}Tambah Pendidikan{% endif %}</button>
                    <a href="{% url 'main:dashboard' %}" class="button button-secondary">Batal</a>
                </form>
            </div>
        </section>

{% endblock system_content %}
